<div class="w-100">
  <mat-toolbar class="w-100 pl-2 pr-2 mat-elevation-z2">
    <div class="container nav-container">
      <div class="desktop-logo">
        <div class="d-flex justify-content-start">
          <a href="/" class="logo">
            <img src="https://www.alarabsoftware.com/assets/img/logo.png" alt="logo">
          </a>
          <ul class="navbar-nav">
            <li>
              <a href="/home">Home</a>
            </li>
          </ul>
        </div>

        <ul class="navbar-nav">
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar>
  
</div>